<div class="row">
  <div class="alert alert-default" ng-hide="companies">Loading companies...</div>
  <div ng-repeat="company in companies">
    <h2>{{company.name}}</h2>
    <table ng-show="company.operations && company.operations.length > 0" class="table-condensed">
      <thead>
        <tr>
          <th class="col-md-1">Invoice number</th>
          <th class="col-md-1">Invoice date</th>
          <th class="col-md-1">Operation date</th>
          <th class="col-md-1">Amount</th>
          <th class="col-md-2">Reporter</th>
          <th class="col-md-3">Notes</th>
          <th class="col-md-1">Status</th>
          <th class="col-md-2">Kind</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="operation in company.operations">
          <td class="col-md-1">{{ operation.invoice_num }}</td>
          <td class="col-md-1">{{ operation.invoice_date }}</td>
          <td class="col-md-1">{{ operation.operation_date }}</td>
          <td class="col-md-1">{{ operation.amount }}</td>
          <td class="col-md-2">{{ operation.reporter }}</td>
          <td class="col-md-3">{{ operation.notes }}</td>
          <td class="col-md-1">{{ operation.status }}</td>
          <td class="col-md-2">{{ operation.kind }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
