<div class="container container-fluid" ng-controller="ImportAppCtrl" ng-init="loadCompanies()">
    <div class="row">
        <div class="btn btn-default col-md-2"
          ng-disabled="fileProcessing" 
          ngf-select="uploadFile($file)"
          ngf-model-invalid="errFiles"
          ngf-pattern="*.csv"
          accept="text/csv"
          ngf-multiple="false">
            <span class="glyphicon glyphicon-import"></span>Import from CSV
        </div>

        <div class="alert alert-warning col-md-4" ng-show="errFiles && errFiles.length > 0">
             Please select CSV file.
        </div>
        <div ng-show="fileStats.state" class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item" ng-class="{'list-group-item-success': fileStats.state == 'parsed'}">
                    File state: <strong>{{ fileStats.state }}</strong>
                </li>
                <li class="list-group-item" ng-show="fileStats.parsed_rows">
                    <span class="badge">{{ fileStats.parsed_rows }}</span>
                    Processed rows
                </li>
                <li class="list-group-item list-group-item-success" ng-show="fileStats.parsed_rows">
                    <span class="badge">{{ fileStats.valid_rows }}</span>
                    Successfully imported rows
                </li>
                <li class="list-group-item list-group-item-danger" ng-show="fileStats.parsed_rows">
                    <span class="badge">{{ fileStats.invalid_rows }}</span>
                    Failed to import rows
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <!-- filter input -->
    </div>
    <%= render "companies_table" %>
</div>
